/* Mobile */
@media (max-width: 46.1875em){
	.mng{
		height: 450px;
		top: 32px;
	}
	.player__item{
		font-size: 1rem;
	}
	.player__item:nth-child(1){
		font-size: 1.5rem;
	}
	.player__item:nth-child(1) > .achi0::before{
		content: "best";
		font-size: 1.5rem;
	}
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){

}
@media (min-width: 63.9375em){

}