*{margin: 0;padding: 0;box-sizing: border-box;user-select: none;font-family: sans-serif;}
body{font-size: 62.5%;}
a{text-decoration: none;}
li{list-style: none;}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
}
.hiden{
	display: none;
}

.myCanvas{
	background: #47B1FB;
	margin: auto;
	border-radius: 15px;
}


.game__over{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	color: #E8E8E8;
	font-weight: bold;
}

.game__over--title{
	font-size: 100px;
}

.count__down{
	font-size: 250px;
	text-align: center;
}